@font-face {
    font-family: "PPAgrandir-Normal";
    src: url(fonts/PPAgrandirNormalUprightVariable.ttf) format("opentype");
}

body{
    background-color: #F9F5EA;
}
h1{
    font-family: "PPAgrandir-Normal";
    font-weight: 500;
}